/* General setup */
@font-face {
    font-family: 'Amatic SC';
    src: url('newFonts/AmaticSC-Regular.woff2') format('woff2'),
        url('newFonts/AmaticSC-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Raleway';
    src: url('newFonts/Raleway-ExtraBoldItalic.woff2') format('woff2'),
        url('newFonts/Raleway-ExtraBoldItalic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

html {
  font-size: 10px;
  margin: 0;
  font-family: sans-serif;
}

body {
  width: 80%;
  max-width: 800px;
  margin: 0 auto;
}

/* Typography */

h1 {
  font-family: 'Raleway';
  font-size: 3.2rem;
}

h2 {
  font-family: 'Raleway';
  font-size: 2.4rem;
}

p {
  font-size: 2rem;
  line-height: 1.6;
  word-spacing: 0.6rem;
  font-family: 'Amatic SC'; 
}